<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong class="title">Validar Participante</strong>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="listRenovacao != null && listRenovacao.length > 0">
    <ion-item-sliding *ngFor="let renovacao of listRenovacao">
      <ion-item>
        <h2>{{ renovacao.nomeUsuario }}</h2>
        <p>{{ renovacao.emailUsuario }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button class="editar" (click)="aprovar(renovacao)">
          <ion-icon name="checkmark"></ion-icon>
          Aprovar
        </button>
        <button ion-button class="excluir" (click)="reprovar(renovacao)">
          <ion-icon name="close"></ion-icon>
          Reprovar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="listRenovacao == null || listRenovacao.length <= 0">
    <h1 class="nenhum-registro">Não possuí nenhuma solicitação de renovação</h1>
  </div>
</ion-content>