page-listagem-usuario {

    .pagou {
        color: green;
        font-weight: bold;
    }

    .nao-pagou {
        color: red;
        font-weight: bold;
    }

    .item-md {
        border: 1px solid cadetblue !important;
    }

}
